
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 800px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px;
    line-height: 1.6;
    z-index: 0;
    margin: 0 auto;
    background-color:#f7f9fc;
}


#wrap {
    margin: 0 auto;
}


#header {
    background-color: #222222;
    color: #ffffff;
    font-size: 0.85rem;
    padding: 20px;
    overflow: hidden;
}

#header a {
    text-decoration: none;
    color: #27B4B2;
    font-weight: 600;
}

#header a:hover {
    color: #ffffff;
}


#contact {
    float: left;
    margin-top: 15px;
    margin-left: 10px;
}

#contact p {
    margin: auto 0;
}


.photo {
   
    height: 180px;
    width: 180px;
    border-radius: 50%;
    margin: 5px;
    vertical-align: middle;
    display: inline-block;
  
}
.name{
    display: inline;
    font-size: 42px;
}


#my-name {
    font-weight: 800;	
}

#my-age {
    font-style: italic;
}


h1 {
    text-align: center;
    font-size: 2.75rem;
    text-transform: uppercase;
    margin: 20px 0;
    font-weight: 200;
    clear: both;
}

h1 span {
    font-weight: 800;
    border-radius: 50%;
    margin: 0;
}


section span {
    color: #fff;
    padding: 10px;
    background-color: #27B4B2;
}


#skills,
#per-exp,
#pro-exp,
#diploma {
    margin: 6px 0;
    padding: 10px;
    background-color: #eeeeee;
    z-index: 0;
}

#skills span {
    padding: 0px;
}

section p {
    margin: 3px;
}


a {
    text-decoration: none;
    color: #27B4B2;
    font-weight: 600;
}

a:hover {
    color: #222222;
}


.section-title {
    margin: 6px 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2rem;
    color: #222;
}


footer {
    text-align: center;
    overflow: hidden;
    clear: both;
    background-color: #222222;
    color: #ffffff;
    margin: 8px 0;
    height: 100px;
}

footer p {
    margin-top: 40px;
    display: inline-block;
}


#gist {
    margin-top: 0;
}

#gist a:hover {
    color: #ffffff;
}
